<div class="postcard">
<div class="stamp"></div>
<div class="return-address">
U06QK6AG3RD c/o hcpcxc<br>
15 Falls Rd<br>
Shelburne, VT 05482-7480 <br>
USA
</div>
<div class="destination-address">
to: "the girl reading this"<br>
<%= @street %><br>
<%= ipfo(:city_name, "West Sillywood") %>, <%= ipfo(:subdivision_1_iso_code, "CA") %> <%= ipfo(:postal_code, "42069") %> 
</div>
<div class="content">
<h3>hi!</h3>
do you like getting mail? <br/>
how about sending it? <br/>
i realized that hack club has everybody's address. <br/>
i have a mail system that needs the tires kicked.<br/>
so! <br/>
send a postcard to:
<pre>
&lt;someone's slack ID&gt; c/o hcpcxc
15 Falls Rd
Shelburne, VT 05482-7480
US
</pre>
and i'll forward it to them! <br/>
this will run until june 10th, or until i get through $50 in postage, and then we'll see if it was a good idea <br/>
<span style="font-family: Comic Sans MS;">~nora</span>
</div>
</div>

<big><big><a href="/login">log in with slack!</a></big></big>

<%= erb :faq %>
